# Python basics for Astronomy

In [ ]:
#Coding
print("Hello World!!")

"""
sup dude in /* */

"""

# dude 1
# dude 2
# dude 4

Hello World!!

'\nsup dude in /* */\n\n'

### 2. Variables and Constants

In [2]:
x=4
y=5

print(x+x+y+y)

18

### 3. Strings

In [7]:
# Create variables to store the information about a planet in our Solar System
planet_name = 'Venus'
planet_age = '4.6 Billion Years'
planet_index = 1   # In Python, index starts from 0. Hence, Venus is on Index 1 after Mercury on Index 0

print(type(planet_name))
print(type(planet_age))
print(type(planet_index))


z = 3.2
print(type(z))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

### 4. f-strings

In [9]:
name_planet = 'Saturn'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

### User Inputs

In [10]:
# Ask user to input their fav number
user_fav_number = input('Enter your favourite number:- ')

Enter your favourite number:- 7

In [11]:
# Display the variable and its type given by the user
print(user_fav_number)
print(type(user_fav_number))

7
<class 'str'>

In [12]:
# Get user input of two different integers and add them together
n1 = int(input('Give any integer number:- '))
n2 = int(input('Give one more integer:- '))
print(f"The sum of {n1} and {n2} is {n1+n2}")

Give any integer number:- 7
Give one more integer:- 4
The sum of 7 and 4 is 11

5. for - while loops

In [13]:
# For loop
for index in range(1, 11, 2):
    print(index)

print(5)

1
3
5
7
9
5

In [14]:
# While Loop

ct = 0

while True:
    obj = input(f'Enter your favourite Celestial Object {ct+1}:- ')
    ct += 1   # ct = ct + 1
    if obj == 'quit':
        break

Enter your favourite Celestial Object 1:- earth
Enter your favourite Celestial Object 2:- satellites
Enter your favourite Celestial Object 3:- constellations
Enter your favourite Celestial Object 4:- quit

In [15]:
def basic_calc(n1, n2, operation):
    if operation.lower() == 'add':
        return n1 + n2
    elif operation.lower() == 'subtract':
        return n1 - n2
    elif operation.lower() == 'multiply':
        return n1 * n2
    elif operation.lower() == 'divide':
        return n1 / n2
    else:
        print(f"operation input can either take:- add, multiply, subtract or divide. You gave:- {operation}. Try again")

In [16]:
addition = basic_calc(2, 3, 'add')
print(addition)

5